* {
    padding: 0;
    margin: 0;
    background: whitesmoke;
}

#gameBody {
    width: 500px;
    height: 300px;
    border: 2px solid black;
    margin: auto;
    margin-top: 150px;
    overflow: hidden;
    background-color: skyblue;
}

#mainChar {
    width: 30px;
    height: 70px;
    background-color: crimson;
    position: relative;
    top: 230px;
    /*    animation: character 500ms infinite;*/
}

.charAnimation {
    animation: character 525ms;
}

#obstacle {
    width: 30px;
    height: 30px;
    background-color: springgreen;
    border-radius: 50%;
    position: relative;
    top: 200px;
    left: 480px;
    animation: obstacle 1.35s infinite linear;
}

@keyframes obstacle {
    0% {
        left: 480px;
    }

    100% {
        left: -40px;
    }
}

@keyframes character {
    0% {
        top: 230px;
    }

    40% {
        top: 100px;
    }

    70% {
        top: 100px;
    }

    100% {
        top: 230px;
    }
}

#message {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}